.about_container{
    flex-direction:  row !important;
    gap: 50px !important;
}

.about_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.about_content h2{
    font-size: 36px;
    color: var(--primary-color);
}
.about_content p{
    color: rgba(0, 0, 0, 0.5);
}

.about_cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.about_cards .about_Card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.about_cards .about_Card h3{
    color: var(--primary-color);
}


.about_cards .about_Card i{
    font-size: 25px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    color: #fff;
}

.about_cards .about_Card:nth-of-type(2) i{
    background-color: rgb(124, 124, 233);
}

.about_cards .about_Card:nth-of-type(3) i{
    background-color: rgb(153, 233, 124);
}
.about_cards .about_Card:nth-of-type(4) i{
    background-color: rgb(233, 188, 124);
}


.about_title{
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 12px 0;
}

.about_image{
    width: 50%;
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.about_image img:nth-of-type(1){
    height: 500px;
    width: 380px;
    margin-top: 30px;
    object-fit: cover;
}


.about_image img:nth-of-type(2){
    height: 330px;
    width: 250px;

    position: absolute;

    bottom: 10px;
    left: 50%;

    animation: Anim_move_Y 2s infinite linear alternate;
}

#aboutSvg{
    height: 150px;
    width: 150px;
    margin-left: 30px;
    margin-top: 50px;

    animation: rotate 10s infinite linear;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes Anim_move_Y {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}


@media screen and (max-width:1200px) {
    .about_wrapper{
        flex-direction: column-reverse !important;
    }

    .about_image{
        width: 70%;
    }

    .about_content{
        width: 100%;
    }

    .about_image img:nth-of-type(1){
        height: 540px;
        width: 420px;
    }

    #aboutSvg{
        margin-left: 50px;
        margin-top: -20px;        
    }
}


@media screen and (max-width:900px) {
    .about_image img:nth-of-type(2){
        left: 80%;
    }
}

@media screen and (max-width:768px) {
    #aboutSvg{
        height: 140px;
        width: 140px;
    }
}
@media screen and (max-width:500px) {
    #aboutSvg{
        display: none;
    }

    .about_cards{
        grid-template-columns: repeat(1,1fr);
    }
    .about_image{
        width: 100%;
    }
    .about_image img:nth-of-type(1){
        width: 100%;
        object-fit: cover;
    }
    .about_image img:nth-of-type(2){
        display: none;
    }
}