
.header_container{
    background-color: rgb(228, 255, 249);

    position: relative;
    z-index: 1;
    margin-top: 80px;

    flex-direction: row !important;

    padding: 80px 15% 0 15% !important;

    overflow: hidden;
}

.header_container::after{
    position: absolute;
    top: 20%;
    left: 10%;

    content: '';

    height: 100%;
    width: 100%;

    background-image: url(./../../assets/h3-slider-map.png);
    z-index: -1;
    opacity: 0.6;

    background-repeat: no-repeat;
}


.header_content{
    height: 100%;
    width: 50%;
    padding-top: 120px;
}

.header_content h3{
    color: var(--secondary-color);
    font-family: 'Sacramento' !important;
    font-size: 28px;
}

.header_content h1{
    font-size: 60px;
    color: var(--primary-color);
    line-height: 70px;
    margin: 20px 0;
}

.header_content p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}


.header_image{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.header_image {
    height: 100%;
    width: 100%;
}

.header_element{
    position: absolute;
    top: 0;
    right: 0;

    overflow: hidden;
    height: 100%;
    width: 40%;

    z-index: 1;
}

.header_element img{
    height: 900px;
    width: 900px;
    border-radius: 50%;

    position: absolute;
    top: -100px;
    left: 100px;
    z-index: -1;
}

#element2{
    height: 800px;
    width: 39%;

    position: absolute;
    top: -50px;
    right: -50px;
    
    z-index: -1;
}

#element2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px dashed var(--secondary-color);
    border-radius: 50%;
}


.header_element1{
    position: absolute;
    top: 120px;
    left: 0;

    animation:  Anim_move_Y 2s linear alternate infinite ;

}


.header_element2{
    position: absolute;
    bottom: 0px;
    left: 0;

    animation:  Anim_move_Y 2s linear alternate infinite ;

}

.header_element3{
    position: absolute;
    top: 40px;
    left: 35%;

    animation:  Anim_move_x 2s linear alternate infinite ;
}

@keyframes Anim_move_x {
    0%{
        transform: translateX(0);
    }

    50%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(10px);
    }
}
@keyframes Anim_move_Y {
    0%{
        transform: translateY(10px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(10px);
    }
}


@media screen and (max-width:1600px) {
    #element2{
        width: 37%;
    }

    .header_element{
        width: 38%;
        z-index: -1;
    }

    .header_content h1{
        font-size: 50px;
        line-height: 60px;
    }

}

@media screen and (max-width:1200px) {
    .header_image{
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    #element2 , .header_wrapper::after{
        display: none;
    }

    .header_wrapper{
        flex-direction: column !important   ;
    }

    .header_content{
        width: 100%;
    }

    .header_element{
        width: 100%;
        top: 55%;
        overflow: visible;
    }

    .header_element img{
        border-radius: 0%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.2;
    }
    .header_content h1{
        font-size: 8vw;
        line-height: 10vw;
    }

}

@media screen and (max-width:500px) {
    .header_image{
        width: 100%;
    }
    .header_image img{
        width: 100%;
    }

    .header_wrapper{
        padding: 0 15% 0 15% !important;
    }

    .header_element1{
        top: 60px;
    }

    .header_element3{
        left: 62%;
    }
}