.country_card{
    position: relative;
}

.country_card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.country_card p{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    color: #fff;
    font-size: 35px;
}

.country_card p span{
    color: var(--secondary-color);
    font-size: 16px;
}


.country_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}