.footer_wrapper{
    background-color: #1e1e1e;
}

.footer_container{
    display: grid !important;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.footer_links{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    text-align: start;
}

.footer_links h3{
    color: #fff;
    font-size: 28px;
    margin-bottom: 12px;
}

.footer_links a , 
.footer_links p{
    color: rgba(131, 131, 131, 1);
    font-size: 14px;
}
.footer_links a:hover{
    color: rgb(255, 255, 255);
}


.footer_links input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
}

.footer_links button{
    background-color: var(--secondary-color);
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 8px;
}

.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}



@media screen and (max-width:1200px) {
    .footer_container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    
    .gallery{
        grid-template-columns: repeat(4,1fr);
    }
}

@media screen and (max-width:900px) {
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:768px) {
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width:500px) {
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }

    .footer_container{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }
    
}