.blog_cards_wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 18px;
}

.card{
    height: 400px;
    width: 50%;

    position: relative;
}

.Blog_wrapper h2 a{
    color: var(--primary-color);
    font-size: 14px;
    margin-left: 12px;
    font-weight: 300;
}

.card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg , rgba(0,0,0,0.8) , transparent);
}


.card .blog_content{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.card .blog_content small{
    padding: 4px 8px;
    background-color: #fff;
    color: var(--secondary-color);
    font-size: 15px;
}

.Details{
    display: flex;
    gap: 8px;
    align-items: center;
}

.Details p{
    color: rgb(244, 244, 244);
    font-size: 14px;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.blog_cards{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.blog_cards .item{
    display: flex;
    gap: 30px;
}

.item_detail{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blog_cards .item small{
    color: crimson;
}

.item_detail .Details p{
    color: rgba(0,0,0,0.8);
}

.blog_cards .item img{
    width: 250px;
    height: 100%;
}


@media screen and (max-width:1400px) {
    .blog_cards_wrapper{
        flex-direction: column;
    }


    .card{
        width: 100%;
        height: 500px;
    }

    .blog_cards{
        width: 100%;
    }


}


@media screen and (max-width:500px) {
    .blog_cards .item{
        flex-direction: column;
    }

    .blog_cards .item img{
        width: 100%;
    }

}
